#content {
    text-align: center;
}

#top {
    margin-left: 20px;
    margin-bottom: -10px;
}

#blocks {
    display: grid;
    column-gap: 10px;
    grid-template-columns: 32px 32px 32px 32px 32px 32px 32px 32px 32px 32px 32px;
    padding: 10px;
    justify-content: center;
    justify-items: center;
    align-items: center;
}

.id-text {
    margin-left: 20px;
    resize: none;
}

#color {
    margin-left: 20px;
    margin-top: 10px;
}

#pipes {
    display: grid;
    column-gap: 10px;
    grid-template-columns: 32px 32px 32px 32px 32px 32px 32px 32px 32px 32px 32px;
    padding: 10px;
    justify-content: center;
    justify-items: center;
    align-items: center;
}

#pipeText {
    margin-left: 20px;
}

#current-pipe {
    margin-bottom: 40px;
}